.logo{
    margin-left: 30px;
    color: grey;
}

.moto{
    padding-left: 30px;
}

.tel{
    padding-top: 25px;
    padding-right: 30px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

.telicon{
    color: #2BABE3;
}
.menu{
    background: #2BABE3;
    height: 80px;
    padding-top: 25px;
}

.submenu{
    text-align: center;
    color: white;
    padding-left: 30px;
    font-weight: bold;
}

.separation{
    margin-top: 30px;
    height: 30px;
    width: 100%;
    background: white;
    border-top: 1px solid #2BABE3;
}

.bluecolor{
    background: #2BABE3;
}
